@media only screen and (max-width: 850px) {

    header h1, header p {
        width:80%;
    }

    .productiveContainer {
        flex-direction: column;
        text-align:center;
    }
    .productiveContainer>img {
        width:70%;
        margin-bottom:25px;
    }
    .productiveContainer p {
        padding:0 15%
    }
    
    .commentSection {
        flex-direction: column;
        gap:25px;
        width:75%;
        margin:7.5% 0;
    }

    .productiveContainer {
        margin:3rem 0;   
    }

    .emailContainer {
        width:75%;
        margin-top:5%;
    }

    .emailContainer input {
        width:75%;
    }

    .emailContainer button {
        width:75%;
    }

    .footerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top:25px;
    }

    .footerContainer>img {
        width:50%;
        margin-bottom:25px;
    }

    .footerContainer li {
        margin-bottom:25px;
    }

    .socials li {
        display:inline-block;
        margin:0px 15px;
    }
}

@media only screen and (max-width: 500px) {

    .navContainer ul {
        display:none;
    }

    #openBtn {
        display:initial;
    }

    header img {
        width:80%;
    }
    header h1, header p {
        width:95%;
    }
    header {
        margin-bottom:5%;
    }
    .aboutSection {
        grid-template-columns:1fr;
        grid-template-rows:repeat(4,auto)
    }

    .productiveContainer h1 {
        font-size:2.4em;
    }

    .productiveContainer p {
        padding:0;
        line-height:1.6;
    }

    .productiveContainer h1, .productiveContainer p {
        margin-bottom:15px;
    }

     body .commentSection {
        margin:5% 0;
        width:80%;
    }

    .emailContainer {
        width:93%;
        padding:25px;
        margin-top:10%;
    }
    .emailContainer h1 {
        font-size:1.8em;
    }

    .navContainer, .headerContainer, .mainContainer, .productiveContainer, .commentSection, .footerContainer {
        max-width:1440px;
        width:93%;
    }

    .footerContainer>img {
        width:40%;
    }

    nav img {
        width:35%;
    }
}